*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: roboto, sans-serif;
    background: url('asset/bg.webp');
    background-size: cover;
}

.card {
    width: 80vw;
    max-width: 450px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.card__cover {
    width: 100%;
    border-radius: 10px;
}

.card__info {
    margin-top: 16px;
    padding: 0px 12px;
}

.card__title {
    font-size: 1.2rem;
}

.card__buttons {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.button__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 8px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background-color: #f1f1f1;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1.1rem;
}

.button__item:hover {
    background-color: #e1e1e1;
}

.button__icon {
    width: 28px;
    height: 28px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    filter: drop-shadow(0 0 4px #01372E);
}

footer img {
    width: 40px;
    height: 40px;
    mix-blend-mode: difference;
}

@media (min-width: 400px) {

    .card__buttons {
        flex-direction: row;
    }

    .button__item {
        flex: 1;
    }
}

@media (min-width: 1150px) {
    footer a {
        color: #01372E;
        filter: none;
    }
}

/*
     _____     _____
    |  _  |   |  _  |
   -| | | |---| | | |-
    |_____| 7 |_____|  ~B!nro~
    
*/